attrs==19.3.0
beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
entrypoints==0.3
gazpacho==0.9.4
idna==2.9
importlib-metadata==1.5.0
Jinja2==2.11.1
jsonschema==3.2.0
lxml==4.6.2
MarkupSafe==1.1.1
numpy==1.18.1
pandas==1.0.1
pyrsistent==0.15.7
python-dateutil==2.8.1
pytz==2019.3
quote==2.0.1
requests==2.23.0
selenium==3.141.0
six==1.14.0
soupsieve==2.0
toolz==0.10.0
tqdm==4.43.0
urbandict==0.6.1
urllib3==1.25.8
webdriverdownloader==1.1.0.3
Wikipedia-API==0.5.4
zipp==3.1.0
